// Variables fuente de texto
$tittleFont: 'Hind', sans-serif;
$mainFont: 'Kanit', sans-serif;

// Variables colores
$textColor: #ffffff;      // White
$backgroundColor: #000000; // Black
$hoverHighlight: #ff0000;  // Red